<header>
  <div class="grid-x">

    <div class="cell large-4 small-10 header-left">
      <a href="#" id="auth-lnk"> J.J. Farias </a>
      <p class="subtxt"> Cooker and software developer</p>
    </div>

    <div class="cell large-8 small-2 header-left">
        <img src="assets/icon-menu.svg" id="menu" (click)="toggle()">

      <ul [ngClass]="{show: opened, animMenu: opened}">
        <li id="exit"><img src="assets/icon-close.svg" (click)="toggle()"></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">My Work</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    
    </div>
  </div>
</header>

<body>
  <router-outlet></router-outlet>
</body>
